
@media screen and (max-width: 640px) {
    .pcard {
      width: 100%;
      margin: 0 0 1rem 0;
    }
  
    .pimg-left,
    .pimg-right {
      left: 0;
      right: 0;
      margin: 0 auto;
    }
    .view-img{
      left: 22%;
    }
  }
  
  
  @media screen and (min-width: 641px) and (max-width: 1024px) {
    .pcard {
      width: 48%;
      margin: 1%;
    }
   
  }
  

  @media screen and (min-width: 1025px) {
    .pcard {
      width: 268.5px;
      margin: 0 2% 1rem 2%;
    }
  }



.view-img {
  width: 30px; 
  height: auto;
  position: relative;
 
  margin-top: -20px;
  max-width: 100%; 

  @media screen and (max-width: 1023px) {
    
    width: 25px; 
    left: 70%; 
  }

  @media screen and (min-width: 1024px) {
   
    width: 35px;
    left: 92%; 
  }
}

