@import "../../App.scss";

.footer-container {
  color: black;
  padding-top: 2rem; 
  padding-bottom: 2rem; 
  background: #FFFFFF;

  @media (min-width: 768px) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.footer {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: 768px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2rem; 
  }
}

.footer-sub {
  grid-column: span 1;
  margin-left: 4rem;
  margin-top: 2rem; 

  @media (min-width: 768px) {
    margin-top: 0;
  }
}

.footer-left,
.footer-lft {
  font-size: 1.5rem; 
  font-weight: bold;
}

.footer-right {
  font-size: 1.5rem; 
  font-weight: bold;
  margin-bottom: 1rem; 
  color: #1E1E1E;

  @media (min-width: 768px) {
    max-width: 300px;
  }
}

.footer-right-sub {
  margin-bottom: 1rem; 
}

.footer-info {
  display: flex;
  align-items: center;
}

.info-img {
  position: absolute;

  @media (min-width: 640px) {
    left: 1.5625rem; /* == to px*/
  }

  @media (min-width: 768px) {
    left: 3.515625rem;
  }

  @media (min-width: 1024px) {
    left: 5.859375rem; 
  }
}
