.flex-container {
  display: flex;
}

.image-container {
  flex-shrink: 0;
  width: 728px;
  height: 541px;
}

.image {
  width: 100%;
  height: 100%;
}

.content-container {
  flex-grow: 1;
  padding: 3rem;
  width: 556px;
  height: 83px;
  top: 2899px;
  left: 743px;
  opacity: 0.8px;
  font-family: Gilroy-Regular;
font-size: 18px;
line-height: 33px;
letter-spacing: 0em;
text-align: left;
color: #1E1E1E;
}

.bold{
    width: 143px;
height: 15px;
top: 2733px;
left: 743px;
font-family: Gilroy-SemiBold;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.175em;
text-align: left;
color: #E58411;
}

.boldtext{
width: 413px;
height: 70px;
top: 2775px;
left: 743px;
font-family: Gilroy-Bold;
font-size: 42px;
line-height: 49px;
letter-spacing: 0em;
text-align: left;
color: #1E1E1E;
}

@media screen and (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }

  .content-container {
    padding: 1.5rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1199px) {
  .content-container {
    max-width: 70%;
  }
}
@media screen and (min-width: 1200px) {
  .flex-container {
    justify-content: space-between;
  }

  .image-container {
    max-width: 50%;
  }

  .content-container {
    max-width: 45%;
  }
  .eximg {
    position: absolute;
    left: 1190px;
    margin-top: 1px; 
  
    @media (max-width: 767px) {
      left: 50%; 
      transform: translateX(-50%);
      margin-top: 1rem; 
    }
  
    @media (min-width: 768px) and (max-width: 1023px) {
      left: 60%; 
      margin-top: 1rem; 
    }
  
    @media (min-width: 1024px) and (max-width: 1279px) {
      left: 70%; 
      margin-top: 1rem; 
    }
  
    @media (min-width: 1280px) {
      left: 80%; 
      margin-top: 1rem; 
    }
  
    @media (max-width: 1023px) {
      
      margin-top: 0.5rem;
    }
  
    @media (max-width: 767px) {
   
      margin-top: 0.2rem;
    }
  }
  
}

